@font-face {
    font-family: 'sunborn-sans-one';
    src: url('../fonts/sunborn-sans-one.otf') format('truetype');
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-position: center;
    background-color: #D84894;
    background-image: url(../images/barbies.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    padding: 30px;
    max-width: 1280px;
    margin: 0% auto;
    background-color: #ef87be;
    border-radius: 20px;
    width: 350px;
    height: 450px;
    
}

img {
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

.input-single{
    font-family: sunborn-sans-one; 
    color:#d84894;
    position: relative;
    margin: 35px 0;
    transition: all 0.2s;


}
.input-single label{
    font-family: sunborn-sans-one; 
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 5px;
    cursor: text;
}

.input{
    font-family: sunborn-sans-one; 
    background-color: #ef87be;
    width: 100%;
    border: 0;
    border-bottom: 2px solid pink;
    padding: 5px;
    font-size: 10px;
    outline: 0;
}


form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label{
    transform: translateY(-20px);
    font-size: 9px;
    color: white;
}

.btn{
    padding-top: 30px;
    width: 100%;
    text-align: center;
}

form input[type=submit]{
    font-family: sunborn-sans-one;
    color: #ffffff;
    padding: 10px 40px;
    border: 0;
    border-radius: 10px;
    background-color: #d84894;
    cursor: pointer;

}
